/* style bootstrap css*/

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: yellow;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: yellow;
}

.navbar {
    background-color: yellow;
    color: white;
}

.logo-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow: auto; /* Allow content to be scrollable */
}
